.App {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 30px;
  border: black;
  border-radius: 2px;
  border-style: solid;
}

li {
  margin-left: 20%;
  margin-right: 10%;
  text-align: left;
}

.question {
  width: 600px;
}

#long {
  height: 50px;
  resize: vertical;
}

#Qname {
  margin-left: 20%;
  margin-right: 10%;
  text-align: left;
}

span {
  display: block;
}

.block {
  margin-right: 100px;
  overflow-x: hidden;
  white-space: nowrap;
}

.block1 {
  margin-right: 100px;
  display: inline-block;
}

.block2 {
  display: inline-block;
}

.confirm {
  text-decoration: underline;
  text-align: left;
  margin-left: 150px;
}

.info {
  text-align: left;
  margin-left: 150px;
}

.text {
  font-size: 16px;
}

.flyer {
  height: 776px;
  width: 600px;
}
